*/bin/*
*/gen/*
*.project
*.classpath
*.iml
*.ipr
*/target/*
*.settings
*/tmp/*
*/gen-external-apklibs/*
*.gradle/
*.hprof
reports/
build/*
*/build/*
*/classes/*
*/keytool/*
/local.properties.idea
.idea
/captures
.externalNativeBuild
local.properties
.DS_Store
*.apk
